body{
    width: 90%;
    margin: 0 auto;
}
.one{
    display: flex;
}
.one div{
    padding: 10px;
    font-size: larger;
    margin: 10px;
    border-radius: 5px;
    color: blanchedalmond;
    background-color: red;
    flex-grow: 1;
}
div.lis{
    display: flex;
    padding: 0;
}
.lis div{
    background-color: rgb(3, 34, 34);
    flex-grow: 1;
}
.one1{
    display: flex;
}
.one1 span{
    flex-grow: 1;
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: center;
}